<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>question to GDPR</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter a question" required />
    <input type="submit" value="Generate answer" />
  </form>
  {% if result %}
  Answer is: <div class="result">{{ result }}</div>
  {% endif %}
</body>
